:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Container{
  display: flex;
}
.sidebar{
  color: white;
  border: 2px solid white;

}

.map-viewPort{
  width: 100%;
  height: 90vh;
  border: 2px solid white;
} 

.map-viewPort > div{
  border: 2px solid lime;


}

.map-viewPort > div > div {
  border: 2px solid red;
  display: block;
}

.map-viewPort > div,
.map-viewPort > div > div {
  width: 100%;
  height: 100%;
}

.path {
  fill: none;
  stroke: #000;
  stroke-width: 0.5;
  stroke-dasharray: 2;
  animation: march 1s linear infinite;
}

@keyframes march {
  to {
    stroke-dashoffset: -4;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
