body{
    min-height: 100vh;
    margin: 0;
    background-color: #e0e0e0;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


#appContainer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
#Map-Container {
  /* Define the size of your rectangle */
    width: 100vh;
    height: 80vh;
 

  /* Card styling */
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;

  /* This is the key property to crop the content */
  overflow: hidden;
}

#Map-Container svg{
   width: 100%;
   height: auto;
   object-fit: cover;
}

#Map-Wrapper {
    position: relative; /* So the path sits on top of the map */
    width: 100%;
    height: 100%;
}

.map-svg {
    width: 100%;
    height: auto;
    display: block;
}

.path-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* So you can still click the map under the path */
}

.path {
  fill: none;
  stroke: red; /* You can change this color */
  stroke-width: 2px; /* You can change the thickness */
  stroke-dasharray: 4;
  animation: march 1s linear infinite;
}

@keyframes march {
  to {
    stroke-dashoffset: -8;
  }
}

